@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }

}

@media (max-width:999px) {
    header .fa-bars {
        display: block;
    }
    
    header .navbar {
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top:1px solid rgb(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem; 
    background:#ffff;
    border: .1rem solid rgb(0, 0, 0, .1);
    display: block;
   }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    
}